{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Leads Hub{% endblock %}
{% block content %}
    <div class="container">
        <p>Leads Hub is a new generation Leads and Tenders notification service. Set far apart from the rest, our services go over and beyond to add value to all our users.
        We scan over 900 websites and newspapers for new tender opportunities and business to business Leads and notify our subscribers on a daily basis.
        We have over 100 categories to choose from arranged by sector and industry.
        Our subscribers have access to our user dashboard where they can browse all available leads in real time.
        Our platform also offers our users an interactive chatroom where users can interact with each other, post tips and challenges, the latest developments in their industries or just market their services to our user network.
        Our users have access to email and telephone support between 8:30 and 17:00 from Monday to Friday.
        Founded in 2017, Leads Hub is a leading innovation hub on digital business interaction in sourcing new business leads. We are efficient, argyle and always improving your experience.
        With us you have a valued business partner to ensure your ears are always on the ground and that you never miss new opportunities.
        </p>
    </div>

{% endblock %}