{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Leads Hub{% endblock %}
{% block content %}
    <div class="container mb-5">
        <table class="table-responsive table-striped w-100" id="packages-table">
          <thead>
            <tr>
              <td scope="col">Package</td>
              <td scope="col">Features</td>
              <td align="center" scope="col">Monthly</td>
              <td align="center" scope="col">Annual</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="package_name" scope="row" style="color: #C9AE5D;">Bronze</td>
              <td>
                  <ul class="list-tick text-muted">
                      <li>1 Province</li>
                      <li>1 Email recipient </li>
                      <li>10 Search Keywords for Email Alerts </li>
                  </ul>
              </td>
              <td align="center">
                  <div>
                      <span style="color: blue; font-size: 22px;">R399.00</span><span>/Month</span><br>
                      <input type="button" value="Select" class="btn btn-success mt-2 btn-small sp-select">
                  </div>
              </td>
              <td align="center">
                  <div>
                      <span style="color: blue; font-size: 22px;">R4788.00</span><span>/Annum</span><br>
                      <input type="button" value="Select" class="btn btn-success mt-2 btn-small sp-select">
                  </div>
              </td>
            </tr>
            <tr>
              <td class="package_name" scope="row" style="color: #C0C0C0;">Silver</td>
              <td>
                  <ul class="list-tick text-muted">
                      <li>1 Province</li>
                      <li>3 Email recipients </li>
                      <li>20 Search Keywords for Email Alerts </li>
                  </ul>
              </td>
              <td align="center">
                  <div>
                      <span style="color: blue; font-size: 22px;">R850.00</span><span>/Month</span><br>
                      <input type="button" value="Select" class="btn btn-success mt-2 btn-small sp-select">
                  </div>
              </td>
              <td align="center">
                  <div>
                      <span style="color: blue; font-size: 22px;">10200.00</span><span>/Annum</span><br>
                      <input type="button" value="Select" class="btn btn-success mt-2 btn-small sp-select">
                  </div>
              </td>
            </tr>
            <tr>
              <td class="package_name" scope="row" style="color: #FFD700;">Gold</td>
              <td>
                  <ul class="list-tick text-muted" style="color: #FFD700">
                      <li>1 Province</li>
                      <li>10 Email recipients </li>
                      <li>30 Search Keywords for Email Alerts </li>
                  </ul>
              </td>
              <td align="center">
                  <div>
                      <span style="color: blue; font-size: 22px;">1300.00</span><span>/Month</span><br>
                      <input type="button" value="Select" class="btn btn-success mt-2 btn-small sp-select">
                  </div>
              </td>
              <td align="center">
                  <div>
                      <span style="color: blue; font-size: 22px;">15600.00</span><span>/Annum</span><br>
                      <input type="button" value="Select" class="btn btn-success mt-2 btn-small sp-select">
                  </div>
              </td>
            </tr>
            <tr>
              <td class="package_name" scope="row" style="color: blue;">Corporate</td>
              <td>
                  <ul class="list-tick text-muted">
                      <li>1 Province</li>
                      <li>10 to 20 Email recipient </li>
                      <li>30 to 100 Search Keywords for Email Alerts</li>
                  </ul>
              </td>
              <td align="center">
                  <div>
                      <span style="color: blue; font-size: 22px;">2500.00</span><span>/Month</span><br>
                      <input type="button" value="Select" class="btn btn-success mt-2 btn-small sp-select">
                  </div>
              </td>
              <td align="center" class="ml-2">
                  <div>
                      <span style="color: blue; font-size: 22px;">30000.00</span><span>/Annum</span><br>
                      <input type="button" value="Select" class="btn btn-success mt-2 btn-small sp-select">
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
    </div>

{% endblock %}